/* 設定（ここを変えるだけでデザイン調整可能） */
:root {
    --bg-color: #222;
    --text-color: #777;
    --c1-color: #388d90;
    --c2-color: #3d446d;
    --c3-color: #82589e;
    --c4-color: #444;
    --c5-color: #333;
}

/* めぬーたいまーのばしょ */
#menuTimer {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: 65px;
    transform: translate(-50%, -50%);
    color: #fff8;
    font-size: 30px;
}

/* 全画面背景 */
#loadingBg3 {
    position: fixed;
    z-index: 999;
    inset: 0;
    background: var(--bg-color);
    display: grid;
    place-items: center;
}

/* テキスト */
#loadingText {
    position: absolute;
    bottom: 10%;
    font-size: 50px;
    color: var(--text-color);
    display: none;
}

/* ロゴ */
#clientLogo {
    position: relative;
    z-index: 10;
    height: 300px;
    transition: .2s;
}

#clientLogo:hover {
    filter: drop-shadow(0 0 8px white);
    transition: .2s;
}

[class^="circle"] {
    position: absolute;
    border-radius: 50% !important;
    box-sizing: border-box;
    pointer-events: none;
}

/* --- 個別スタイル --- */

.circle1 {
    width: 400px;
    height: 400px;
    border: 4px solid var(--c1-color);
    border-top-color: transparent;
    border-bottom-color: transparent;
    animation: spin-flat 2s infinite cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.circle2 {
    width: 450px;
    height: 450px;
    border: 2px solid var(--c2-color);
    animation: spin-3d-1 3s infinite cubic-bezier(0.4, 0, 0.2, 1);
}

.circle3 {
    width: 520px;
    height: 520px;
    border: 2px solid var(--c3-color);
    animation: spin-3d-2 5s infinite cubic-bezier(0.4, 0, 0.2, 1);
}

.circle4 {
    width: 580px;
    height: 580px;
    border: 8px dashed var(--c4-color);
    animation: spin-flat 20s infinite linear;
}

.circle5 {
    width: 650px;
    height: 650px;
    border: 6px dashed var(--c5-color);
    animation: spin-flat 20s infinite linear reverse;
    /* reverseで逆回転 */
}



/* --- アニメーション定義 --- */

@keyframes spin-flat {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin-3d-1 {
    0% {
        transform: rotateZ(45deg) rotateX(0deg);
    }

    100% {
        transform: rotateZ(225deg) rotateX(360deg);
    }
}

@keyframes spin-3d-2 {
    0% {
        transform: rotateZ(-45deg) rotateX(0deg);
    }

    100% {
        transform: rotateZ(-225deg) rotateX(-360deg);
    }
}

.pathDisplay {
    align-self: center;
}