/* DOPENESS CSS V1.0.0 */
/* Created by NamekujiLSDs#7777*/

/* Last edit 29 Jan 2022 */
/* Last edit 2025/12/12 */

:root {
    --color-1: #202020;
    --color-2: #aaa;
    --color-3: #87ceeb;
    --color-4: #2665d0;
    --color-5: #050505;
    --color-6: #00e3ff;
    --x: 10%;
    --y: 5%;
    --font: 90px;
    --time-font: 45px;
}

/* --- Ã¢â€ â€œ Remove Ã¢â€ â€œ --- */
#loadInfoLHolder,
div#hudClassIcon,
#endAContainer,
.mapListCat,
.bigMFeatHold,
.setSugBox2,
#bubbleContainer,
div#voiceDisplay,
.verticalSeparator,
#faceItIconM,
#rankedSoonTm,
#seasonLabel,
#gameNameHolder,
#termsInfo,
#tlInfHold,
#newsHolder,
#editorBtnM,
.menuSocialB,
#loadEditrBtn,
#loadInfoRHolder,
#loadGamNm,
div#aHider,
#lC-img,
#signupRewardsButton,
#notificationCenter,
#menuLvlHold,
#menuMiniProfilePic,
.main-menu-button-container.svelte-f3amho,
.menuItemRankedLabel {
    display: none !important;
}

/* --- Animation --- */
@keyframes loadRotate {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes loadRotate2 {
    0% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
}

/* --- Font --- */
@font-face {
    font-family: gamefont;
    font-style: normal;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/oxanium/v6/RrQQboN_4yJ0JmiMe2zE0YBB.woff2)
        format("woff2");
    unicode-range:
        U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF,
        U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: gamefont;
    font-style: normal;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/oxanium/v6/RrQQboN_4yJ0JmiMe2LE0Q.woff2)
        format("woff2");
    unicode-range:
        U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
        U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
        U+FEFF, U+FFFD;
}

@font-face {
    font-family: gamefont;
    font-style: normal;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/oxanium/v6/RrQQboN_4yJ0JmiMe2zE0YBB.woff2)
        format("woff2");
    unicode-range:
        U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF,
        U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: gamefont;
    font-style: normal;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/oxanium/v6/RrQQboN_4yJ0JmiMe2LE0Q.woff2)
        format("woff2");
    unicode-range:
        U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
        U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
        U+FEFF, U+FFFD;
}

@font-face {
    font-family: gamefont;
    font-style: normal;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/oxanium/v6/RrQQboN_4yJ0JmiMe2zE0YBB.woff2)
        format("woff2");
    unicode-range:
        U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF,
        U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: gamefont;
    font-style: normal;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/oxanium/v6/RrQQboN_4yJ0JmiMe2LE0Q.woff2)
        format("woff2");
    unicode-range:
        U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
        U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
        U+FEFF, U+FFFD;
}

@font-face {
    font-family: gamefont;
    font-style: normal;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/oxanium/v6/RrQQboN_4yJ0JmiMe2zE0YBB.woff2)
        format("woff2");
    unicode-range:
        U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF,
        U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: gamefont;
    font-style: normal;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/oxanium/v6/RrQQboN_4yJ0JmiMe2LE0Q.woff2)
        format("woff2");
    unicode-range:
        U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
        U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
        U+FEFF, U+FFFD;
}

@font-face {
    font-family: gamefont;
    font-style: normal;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/oxanium/v6/RrQQboN_4yJ0JmiMe2zE0YBB.woff2)
        format("woff2");
    unicode-range:
        U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF,
        U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: gamefont;
    font-style: normal;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/oxanium/v6/RrQQboN_4yJ0JmiMe2LE0Q.woff2)
        format("woff2");
    unicode-range:
        U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
        U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
        U+FEFF, U+FFFD;
}

@font-face {
    font-family: gamefont;
    font-style: normal;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/oxanium/v6/RrQQboN_4yJ0JmiMe2zE0YBB.woff2)
        format("woff2");
    unicode-range:
        U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF,
        U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: gamefont;
    font-style: normal;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/oxanium/v6/RrQQboN_4yJ0JmiMe2LE0Q.woff2)
        format("woff2");
    unicode-range:
        U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
        U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
        U+FEFF, U+FFFD;
}

@font-face {
    font-family: gamefont;
    font-style: normal;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/oxanium/v6/RrQQboN_4yJ0JmiMe2zE0YBB.woff2)
        format("woff2");
    unicode-range:
        U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF,
        U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: gamefont;
    font-style: normal;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/oxanium/v6/RrQQboN_4yJ0JmiMe2LE0Q.woff2)
        format("woff2");
    unicode-range:
        U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
        U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
        U+FEFF, U+FFFD;
}

/* --- Main Menu --- */
#menuItemContainer {
    top: unset;
    height: 180px;
    width: 100%;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    background: var(--color-5);
}

.menuItem {
    background: var(--color-1);
    width: calc((60% / 8) - 10px) !important;
    margin: 15px 5px;
    flex-grow: unset;
    border-radius: 20px;
}

.menuItem:hover {
    box-shadow:
        2px 2px 10px var(--color-5),
        5px 5px var(--color-4);
}

.menuItem:hover * {
    transform: unset !important;
}

.menuItem div {
    font-size: 25px !important;
}

.menuItem span {
    color: var(--color-3) !important;
}

div#menuBtnProfile,
div#menuBtnShop {
    font-size: 0 !important;
}

div#menuBtnProfile:before {
    content: "Profile";
    font-size: 25px !important;
}

div#menuBtnShop:before {
    content: "Shop";
    font-size: 25px !important;
}

#menuItemContainer:before {
    content: "";
    position: absolute;
    left: 0px;
    bottom: 180px;
    height: 100px;
    width: 100px;
    background: transparent;
    box-shadow: -50px 50px var(--color-5);
    border-radius: 100%;
}

#menuItemContainer:after {
    content: "";
    position: absolute;
    right: 0px;
    bottom: 180px;
    height: 100px;
    width: 100px;
    background: transparent;
    box-shadow: 50px 50px var(--color-5);
    border-radius: 100%;
}

#subLogoButtons {
    display: flex;
    background: var(--color-5);
    left: 0;
    right: 0;
    transform: unset;
    top: unset;
    bottom: unset;
    height: 180px;
    align-content: center;
    justify-content: center;
}

#subLogoButtons .button {
    color: #fff;
    flex-grow: 1;
    display: flex;
    transition: all 0.1s;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    pointer-events: all;
    cursor: pointer;
    background: var(--color-1);
    width: calc((60% / 8) - 10px) !important;
    margin: 15px 5px;
    flex-grow: unset;
    border-radius: 20px;
    height: unset;
    border: unset !important;
    padding: unset !important;
    font-size: 25px !important;
}

#subLogoButtons .button:before {
    font-size: 60px !important;
    font-family: "Material Icons Outlined";
    line-height: 50px !important;
    color: var(--color-3) !important;
    margin-top: 10px;
}

#subLogoButtons .button:hover {
    transform: unset;
    box-shadow:
        2px 2px 10px var(--color-5),
        5px 5px var(--color-4);
}

#subLogoButtons:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 180px;
    height: 100px;
    width: 100px;
    background: transparent;
    box-shadow: -50px -50px var(--color-5);
    border-radius: 100%;
}

div#menuBtnHost:before {
    content: "add_box";
}

div#menuBtnBrowser:before {
    content: "list_alt";
}

div#menuBtnRanked:before {
    content: "military_tech";
}

div#inviteButton:before {
    content: "content_copy";
}

div#menuBtnJoin:before {
    content: "login";
}

#subLogoButtons .button:hover:before,
.menuItem:hover span {
    text-shadow: 0 0 10px var(--color-3);
    color: white !important;
}

#instructions {
    font-size: 0 !important;
    animation: unset !important;
}

#instructions:after {
    content: "- G.O.A.T -";
    font-size: 30px !important;
}

/* --- Header & Account --- */
.headerBarLeft {
    z-index: 1;
    border: unset !important;
}

#signedOutHeaderBar {
    background: var(--color-1);
    top: 0;
    height: 150px;
    display: flex;
    margin: 10px;
    align-items: center;
    align-content: center;
    justify-content: center;
}

#signedOutHeaderBar .button.lgn span {
    color: var(--color-3) !important;
    font-size: 60px !important;
}

#signedOutHeaderBar .button.lgn {
    border: unset !important;
    background: transparent;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
}

#signedOutHeaderBar:hover {
    box-shadow:
        2px 2px 10px var(--color-5),
        5px 5px var(--color-4);
    transition: all 0.1s;
}

#signedOutHeaderBar:hover * {
    transform: unset;
}

#signedInHeaderBar {
    display: flex;
    margin: 10px;
    background: var(--color-1);
    padding: 10px;
    border-radius: 20px !important;
    height: 130px !important;
    align-content: space-between;
    flex-wrap: nowrap;
}

#mLevelCont {
    background: transparent;
}

#menuAccountUsername {
    border: unset;
}

.progressBar {
    position: absolute;
    width: calc(100% - 50px);
    left: 50%;
    transform: translate(-50%);
    bottom: 20px;
}

#altManagerBtn {
    color: #fff;
    flex-grow: 1;
    display: flex;
    transition: all 0.1s;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    pointer-events: all;
    cursor: pointer;
    background: var(--color-1);
    width: calc((60% / 8) - 10px) !important;
    margin: 15px 5px;
    margin-top: 10px !important;
    flex-grow: unset;
    border-radius: 20px;
    height: unset;
    border: unset !important;
    padding: unset !important;
    font-size: 25px !important;
}

/* --- Chat --- */
#uiBase.onMenu div#chatUI * {
    z-index: 10;
}

#uiBase.onMenu #chatHolder {
    left: 30px;
    bottom: 200px !important;
}

#uiBase.onGame #chatHolder {
    bottom: 150px !important;
}

#chatHolder {
    bottom: 150px !important;
}

#chatInputHolder {
    background: var(--color-1);
}

#chatList {
    border-radius: unset;
    background: transparent;
    mask-image: linear-gradient(0deg, black, white, black, transparent);
    -webkit-mask-image: linear-gradient(0deg, black, white, black, transparent);
}

#chatList div[id*="chatMsg"] {
    background: var(--color-1);
    margin-top: 6px;
    border-radius: unset;
}

#chatList::-webkit-scrollbar {
    display: none;
}

/* --- Customize & Class Preview --- */
#menuClassContainer {
    transform: unset;
}

#classPreviewCanvas {
    height: 200px !important;
    width: 250px !important;
    margin-top: unset;
    bottom: 0;
    position: fixed;
    right: 150px;
    top: unset;
    transform: unset !important;
    margin-bottom: unset;
}

#policeButton {
    height: 140px !important;
    width: 140px !important;
    padding: unset;
    border: unset !important;
    background: var(--color-1);
    border-radius: 20px;
    top: 0px;
    position: fixed;
    bottom: unset;
    transform: unset !important;
    right: 160px;
    margin: 15px;
    font-size: 25px !important;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: stretch;
}

#policeButton:before {
    content: "KPD";
    font-size: 25px;
}

#policeButton:after {
    content: "local_police";
    font-size: 60px;
    line-height: 50px;
    font-family: "Material Icons Outlined";
    color: var(--color-3);
}

#policeButton img {
    display: none;
}

#customizeButton {
    height: 140px;
    width: 140px;
    padding: unset;
    border: unset !important;
    background: var(--color-1);
    border-radius: 20px;
    top: 0px;
    position: fixed;
    bottom: unset;
    transform: unset !important;
    right: 0px;
    margin: 15px;
    font-size: 25px !important;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

#customizeButton[onclick="playSelect(.1),showWindow(3)"] {
    right: 160px;
}

#customizeButton span {
    margin: unset !important;
    color: var(--color-3) !important;
    font-size: 60px !important;
    line-height: 50px !important;
}

#policeButton:hover,
#customizeButton:hover {
    box-shadow:
        2px 2px 10px var(--color-5),
        5px 5px var(--color-4);
    transition: all 0.1s;
}

#menuClassNameTag,
#menuClassSubtext,
#menuClassName {
    display: none !important;
}

/* --- Top left bar --- */
.headerBarRight {
    top: 180px;
    background: var(--color-5);
    height: 90px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: flex-end;
    flex-direction: column;
    border-bottom-left-radius: 20px;
}

.headerBarRight:before {
    position: absolute;
    content: "";
    background: transparent;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    top: 0px;
    left: -30px;
    box-shadow: 15px -15px var(--color-5);
}

.headerBarRight:after {
    position: absolute;
    content: "";
    background: transparent;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    bottom: -30px;
    right: 0px;
    box-shadow: 15px -15px var(--color-5);
}

.headerBarRight * {
    color: var(--color-3) !important;
}

.menuDebugInfo {
    display: flex;
    align-items: flex-end;
}

.menuDebugInfo * {
    font-size: 15px !important;
}

#menuPingDisplay .material-icons {
    display: none !important;
}

#menuPingText:after {
    content: "Ping";
    margin-left: 5px;
}

/* --- Menu Window --- */
#menuWindow.dark {
    max-height: unset;
    top: 0;
    bottom: 0;
    height: 100%;
    transform: unset;
    width: calc(70% + 1px) !important;
    left: unset;
    right: 0;
    border-radius: unset;
    background: var(--color-1);
    box-shadow: unset;
    border: unset;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px !important;
}

#windowHolder.popupWin[style*="display: none;"],
#windowHolder.popupWin[style*="display:none;"] {
    background: rgba(0, 0, 0, 0);
    transform: translate(120%);
    transition: all 0.2s;
    display: block !important;
    visibility: hidden;
}

#windowHolder.popupWin[style*="display: block;"],
#windowHolder.popupWin[style*="display:block;"] {
    background: rgba(0, 0, 0, 0.9) !important;
    display: block !important;
    transform: translate(0%);
    transition: all 0.2s;
}

#windowHeader {
    display: block !important;
    position: fixed;
    left: 40px;
    top: 50%;
    color: var(--color-6);
    font-size: 50px;
    transform: translate(-50%, -50%) rotate(-90deg);
    text-shadow: 0 0 10px var(--color-3);
    font-weight: 700 !important;
}

.settingsHeader {
    width: 200px;
    position: fixed;
    right: calc(70% + 40px);
    display: flex;
    flex-direction: column;
    padding: 15px !important;
    left: unset;
    align-items: center;
    justify-content: center;
    align-content: space-between;
    background: var(--color-1) !important;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    top: 50%;
    transform: translate(0, -50%);
}

.settingsHeader div[style="display:inline-block;width:415px;"] {
    display: flex !important;
    flex-direction: column;
    width: unset !important;
}

.advancedSwitch {
    margin-top: 15px;
    height: 30px;
    width: 180px;
}

.advancedSlider:before {
    height: 20px;
}

.settingsHeader:before {
    height: 30px;
    width: 30px;
    background: transparent;
    content: "";
    position: absolute;
    right: 0;
    top: -30px;
    border-radius: 100%;
    box-shadow: 15px 15px var(--color-1);
}

#stickyHostH {
    bottom: 0px;
}

.settingsHeader:after {
    height: 30px;
    width: 30px;
    background: transparent;
    content: "";
    position: absolute;
    right: 0;
    bottom: -30px;
    border-radius: 100%;
    box-shadow: 15px -15px var(--color-1);
}

.settingsHeader .settingsBtn {
    width: 80% !important;
    margin-left: unset !important;
    float: unset !important;
    padding: unset !important;
    height: 30px;
    background: var(--color-3) !important;
    line-height: 30px;
    margin-bottom: 5px;
    color: var(--color-5) !important;
}

#settingsTabLayout {
    display: flex;
    flex-direction: column;
    background: transparent;
}

.settingsHeader
    div[style="display:inline-block;text-align:right;float:right;"] {
    float: unset !important;
    text-align: center !important;
    width: 100%;
}

.settingsHeader div[style="display:inline-block;width:220px;"] {
    width: 80% !important;
}

.settingTab {
    margin-top: 5px;
    margin-bottom: 5px;
}

.settingTab:hover,
.dark .tabANew,
.dark .tabANew:hover {
    border: unset !important;
    background: linear-gradient(
        to right,
        var(--color-5) 0% calc(100% - 10px),
        var(--color-3) 0% 100%
    );
}

select#settingsPreset {
    float: unset !important;
    margin: 4px !important;
    width: 80% !important;
    height: 30px;
}

.setHed span {
    display: none;
}

.setHed:after {
    content: "";
    height: 2px;
    background-color: var(--color-3);
    display: flex;
    width: 80%;
    margin-left: 5%;
}

.setHed {
    margin: unset !important;
    margin-top: 20px !important;
    border: unset;
    background: transparent;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    margin-right: -10%;
    margin-bottom: 10px !important;
}

#settSearch {
    height: 30px;
    padding: unset;
    width: 100%;
    float: unset !important;
    padding: 0px 10px;
    margin-top: 10px;
}

.setBodH {
    margin: unset !important;
    background: transparent;
}

.settName,
.settNameSmall {
    margin-left: 5%;
    border-bottom: 2px var(--color-2) solid;
}

.sliderM {
    height: 5px;
}

.sliderM::-webkit-slider-thumb {
    height: 15px;
    width: 15px;
    padding: unset !important;
    border-radius: 100%;
    background: var(--color-3);
    box-shadow:
        0 0 5px var(--color-5),
        0 0 10px var(--color-6);
}

.slider {
    width: 28px;
    height: 28px;
    border-radius: 100px;
    background: transparent !important;
    border: 2px var(--color-5) solid;
    top: 0;
    left: 28px;
}

input:checked + .slider:before {
    background: lime;
    top: 4px;
    left: 4px;
    height: 20px;
    border-radius: 100px;
    width: 20px;
    transform: rotateX(180deg);
}

.slider:before {
    background-color: red;
    top: 4px;
    left: 4px;
    height: 20px;
    border-radius: 100px;
    width: 20px;
    transform: rotateX(0deg);
}

.bigMenTabs {
    width: 200px;
    position: fixed;
    right: calc(70% + 40px);
    display: flex;
    flex-direction: column;
    padding: 15px !important;
    left: unset;
    align-items: center;
    justify-content: center;
    align-content: space-between;
    background: var(--color-1) !important;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    top: 50%;
    transform: translate(0, -50%);
}

.bigMenTabs:before {
    height: 30px;
    width: 30px;
    background: transparent;
    content: "";
    position: absolute;
    right: 0;
    top: -30px;
    border-radius: 100%;
    box-shadow: 15px 15px var(--color-1);
}

.bigMenTabs:after {
    height: 30px;
    width: 30px;
    background: transparent;
    content: "";
    position: absolute;
    right: 0;
    bottom: -30px;
    border-radius: 100%;
    box-shadow: 15px -15px var(--color-1);
}

.bigMenTab {
    width: 90%;
    background: var(--color-5);
    margin: 5px;
}

.bigMenTab:hover,
.bigMenTabA {
    width: 90%;
    border-bottom: unset;
    background: linear-gradient(
        to right,
        var(--color-5) 0% calc(100% - 10px),
        var(--color-3) 0% 100%
    );
}

.chalCard:last-of-type {
    margin-bottom: 100px;
}

#mapList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#selectorContainer {
    width: 200px;
    position: fixed;
    right: calc(70% + 60px);
    display: flex;
    flex-direction: column;
    padding: 15px !important;
    left: unset;
    align-items: flex-start;
    justify-content: center;
    align-content: flex-start;
    background: var(--color-1) !important;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    top: 50%;
    padding-right: unset !important;
    transform: translate(0, -50%);
}

#selectorContainer:before {
    height: 30px;
    width: 30px;
    background: transparent;
    content: "";
    position: absolute;
    right: 0;
    top: -30px;
    border-radius: 100%;
    box-shadow: 15px 15px var(--color-1);
}

#selectorContainer:after {
    height: 30px;
    width: 30px;
    background: transparent;
    content: "";
    position: absolute;
    right: 0;
    bottom: -30px;
    border-radius: 100%;
    box-shadow: 15px -15px var(--color-1);
}

.selectorItem:hover,
.selectorItem.selectedItem {
    width: 90%;
    border-bottom: unset;
    background: linear-gradient(
        to right,
        var(--color-5) 0% calc(100% - 10px),
        var(--color-3) 0% 100%
    ) !important;
}

.selectorItem {
    background: var(--color-5) !important;
    border: unset !important;
    width: 90%;
    border-radius: unset;
    font-size: 30px;
    display: flex;
    line-height: 130px;
    flex-direction: row-reverse;
}

.selectorLabel {
    z-index: 100;
    font-size: 30px;
    font-weight: 800 !important;
}

.classCard {
    background: var(--color-5);
}

.classCard:hover {
    background: linear-gradient(
        20deg,
        var(--color-3) 0% 5%,
        var(--color-5) 5% 10%,
        var(--color-3) 10% 15%,
        var(--color-5) 15% 85%,
        var(--color-3) 85% 90%,
        var(--color-5) 90% 95%,
        var(--color-3) 95% 100%
    );
}

.classLvl {
    top: unset;
    bottom: 10px;
    margin-left: 10px;
    margin-right: auto;
}

/* --- HUD & In-game --- */
#timerDisplay {
    position: fixed;
    left: 50%;
    top: 100px;
    transform: translate(-50%);
    background: transparent;
}

#timerDisplay img {
    display: none !important;
}

#timerVal {
    font-weight: 700 !important;
    font-size: var(--time-font);
    color: var(--color-3);
    text-shadow:
        0 0 0 var(--color-5),
        1px 0 0 var(--color-5),
        -1px 0 var(--color-5),
        0 -1px var(--color-5),
        0 1px var(--color-5),
        1px 1px var(--color-5),
        1px -1px var(--color-5),
        -1px 1px var(--color-5),
        -1px -1px var(--color-5),
        0 2px var(--color-5),
        0 -2px var(--color-5),
        2px 0 var(--color-5),
        -2px 0 var(--color-5),
        1px 2px var(--color-5),
        -1px 2px var(--color-5),
        1px -2px var(--color-5),
        -1px -2px var(--color-5),
        2px 2px var(--color-5),
        -2px 2px var(--color-5),
        2px -2px var(--color-5),
        -2px -2px var(--color-5),
        0 0 2px var(--color-5),
        0 0 2px var(--color-5),
        0 0 2px var(--color-5);
}

#healthBar {
    display: flex;
    width: 300px;
    display: none;
}

#healthBar * {
    margin: unset;
    box-shadow: unset;
    width: -webkit-fill-available;
    border-radius: unset;
}

#healthValue {
    font-size: var(--font) !important;
    position: fixed;
    bottom: var(--y);
    left: var(--x);
    font-weight: 700 !important;
    text-shadow:
        -3px 3px 4px var(--color-3),
        -6px 6px 2px var(--color-4);
}

#maxHP,
#challIcon {
    display: none;
}

#healthValueHolder {
    background: transparent;
}

#ammoDisplay:not([style*="background-size: 0%;"]):before {
    content: "sync";
    position: fixed;
    left: 50%;
    top: calc(50% + 40px);
    font-size: 40px;
    bottom: unset;
    color: var(--color-6);
    transform: translate(-50%, -50%);
    font-family: Material Icons Outlined;
    animation: loadRotate 2s infinite cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

#ammoDisplay {
    transform: unset;
    background: transparent;
}

#ammoIcon {
    display: none;
}

#ammoMax {
    font-size: 25px;
    margin-right: 10px;
    display: none;
}

#ammoVal {
    font-size: var(--font) !important;
    position: fixed;
    bottom: var(--y);
    right: var(--x);
    font-weight: 700 !important;
    text-shadow:
        3px 3px 4px var(--color-3),
        6px 6px 2px var(--color-4);
}

.weapIcon {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    filter: brightness(0) drop-shadow(0 0 5px var(--color-6));
    transition: 0.2s;
}

.weapItem[style="opacity:1"] .weapIcon,
.weapItem[style="opacity: 1;"] .weapIcon {
    transform: translate(-50%, 0);
}

.weapItem[style="opacity:0.5"] .weapIcon,
.weapItem[style="opacity: 0.5;"] .weapIcon {
    transform: translate(-50%, 100px);
}

.weapKey {
    display: none;
}

div#igXPBar {
    display: none !important;
}

#reloadMsg {
    bottom: 40%;
    border: unset;
    box-shadow: unset;
    background: transparent;
    color: var(--color-4);
    font-weight: 600 !important;
    font-size: 0;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
}

#reloadMsg:after {
    font-size: 25px;
    content: "No Ammo!";
}

#topMidHold {
    transform-origin: top center;
}

#matchInfoHolder {
    position: fixed;
    bottom: 50px;
    left: 30px;
    z-index: 100;
    display: flex;
    flex-direction: column-reverse;
    font-size: 20px;
}

/* --- Spectate --- */
#uiBase.onMenu #spectateUI {
    display: block !important;
    position: fixed;
    bottom: 48.5%;
    top: unset;
    left: 50%;
    right: unset;
    z-index: 1;
    width: 10px;
    height: 10px;
}

#uiBase.onMenu #spectateHUD {
    display: block;
    justify-content: unset;
    transform: unset;
    left: unset;
}

#uiBase.onMenu #specTeam0,
#uiBase.onMenu #spec0,
#uiBase.onMenu #spec1,
#uiBase.onMenu #specNames,
#uiBase.onMenu #specStats,
#uiBase.onMenu #specContr,
#uiBase.onMenu #specKPDContr,
#uiBase.onMenu #specSus,
#uiBase.onMenu #specTeam1,
#uiBase.onMenu #specGMessage,
#uiBase.onMenu #specGameInfo,
#uiBase.onMenu div#specControlHolder {
    display: none !important;
}

#uiBase.onMenu .spectateInfo {
    display: block;
}

#uiBase.onMenu #specTimer {
    display: block !important;
    font-size: 35px;
    background-color: transparent;
    color: var(--color-3);
    font-weight: 700 !important;
    bottom: 179px !important;
    position: fixed;
    transform: translate(-50%);
    padding: 20px 20px 0px 20px;
    border-radius: 20px 20px 0px 0px;
    background: var(--color-5);
}

#uiBase.onMenu #specTimer:before {
    height: 40px;
    width: 40px;
    position: absolute;
    left: -40px;
    bottom: 0;
    border-radius: 100px;
    box-shadow: 20px 20px var(--color-5);
    background: transparent;
    content: "";
}

#uiBase.onMenu #specTimer:after {
    height: 40px;
    width: 40px;
    position: absolute;
    right: -40px;
    bottom: 0;
    border-radius: 100px;
    box-shadow: -20px 20px var(--color-5);
    background: transparent;
    content: "";
}

label.switchsml {
    margin-bottom: unset;
}

#uiBase.onMenu #spectButton {
    position: fixed;
    right: 0;
    bottom: 179px;
    left: unset;
    transition: unset;
    top: unset;
    background: var(--color-5);
    padding: 10px 20px 0px 20px;
    border-radius: 20px 20px 0px 0px;
}

#uiBase.onMenu #spectButton:before {
    height: 20px;
    width: 20px;
    position: absolute;
    left: -20px;
    bottom: 0;
    border-radius: 100px;
    box-shadow: 10px 10px var(--color-5);
    background: transparent;
    content: "";
}

#uiBase.onMenu #spectButton:after {
    height: 20px;
    width: 20px;
    position: absolute;
    right: -20px;
    bottom: 0;
    border-radius: 100px;
    box-shadow: -10px 10px var(--color-5);
    background: transparent;
    content: "";
}
